*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

nav{
  margin: 0.3cm 10px;
}

.theme-toggler{
  padding:10px;
  margin:10px;
}

.intro{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-align: center;
  padding:2cm;
}